name: Deploy to Production

on:
  push:
    branches:
      - production

jobs:
  deploy:
    runs-on: self-hosted
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create .env file
        run: |
          cat <<EOF > .env
          DB_USER=${{ secrets.DB_USER }}
          DB_PASSWORD=${{ secrets.DB_PASSWORD }}
          DB_NAME=${{ secrets.DB_NAME }}
          DATABASE_URL=${{ secrets.DATABASE_URL }}
          NEXTAUTH_URL=${{ secrets.NEXTAUTH_URL }}
          DOMAIN_NAME=${{ secrets.DOMAIN_NAME }}
          NEXTAUTH_SECRET=${{ secrets.NEXTAUTH_SECRET }}
          DISCORD_BOT_TOKEN=${{ secrets.DISCORD_BOT_TOKEN }}
          ADMIN_DISCORD_USER_ID=${{ secrets.ADMIN_DISCORD_USER_ID }}
          DISCORD_CLIENT_ID=${{ secrets.DISCORD_CLIENT_ID }}
          DISCORD_CLIENT_SECRET=${{ secrets.DISCORD_CLIENT_SECRET }}
          DISCORD_REDIRECT_URI=${{ secrets.DISCORD_REDIRECT_URI }}
          DISCORD_GUILD_ID=${{ secrets.DISCORD_GUILD_ID }}
          ADMIN_EMAIL=${{ secrets.ADMIN_EMAIL }}
          STRIPE_SECRET_KEY=${{ secrets.STRIPE_SECRET_KEY }}
          NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=${{ secrets.NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY }}
          STRIPE_WEBHOOK_SECRET=${{ secrets.STRIPE_WEBHOOK_SECRET }}
          STRIPE_PRICE_ID_REVIEW_ASYNC=${{ secrets.STRIPE_PRICE_ID_REVIEW_ASYNC }}
          STRIPE_PRICE_ID_VOD_REVIEW=${{ secrets.STRIPE_PRICE_ID_VOD_REVIEW }}
          STRIPE_PRICE_ID_LIVE_COACHING=${{ secrets.STRIPE_PRICE_ID_LIVE_COACHING }}
          CLOUDFLARE_TUNNEL_TOKEN=${{ secrets.CLOUDFLARE_TUNNEL_TOKEN }}
          EOF

      - name: Build and Start Containers
        run: |
          docker-compose down
          docker-compose up -d --build

      - name: Run Database Migrations
        run: |
          docker-compose exec -T app npm run prisma:migrate
